@charset "utf-8";

:root {
  --fundtela: #ab616bc9;
  --desttexto: #9c4949b9;
  --linktela: #de9ca5c5;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    }

body{

    text-align: justify;
    color: #f8f6f7;
    background-image: url(/wllper4k.5.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}


header,
h1 {
  text-align: center;
  width: 100vw;
  height: 10vh;
  background-color: #aa5e68cb;
}

menu,
ul {
  text-align: center;
  width: 100vw;
  height: 10vh;
  background-color: var(--desttexto);
  color: #ffffffdc;
  list-style-type: none;
  /* display: flex; */
  color: var(--textocor2);
}  

li {
  list-style: none;
  display: inline-block;
}



section {
    width: 100vw;
    /* height: 14vh; */
    height: auto;
    background-color: var(--linktela);
  }


  /* id no css colocamos # */
  /* no class o . */

  #gyheader,
  h1{
    background-color: #aa5e68cb;
  }

  #pkheader{
    background-color: pink;
  }


  article {
    text-align: left;
    background-color: var(--fundtela);
  }
  /* p {
    text-align: center;
    color: #4e2525;
    font-size: medium;
  } */
  
  footer {
    text-align: right;
    width: 100vw;
    height: 15px;
    background-color: #f7c9d57e;
  }  
  
  /*710906*/
  
  a:link {
    color: #f7d7e2;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #f7d7e2;
    background: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #aa5e68cb;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #c56c7b;
    background-color: transparent;
    text-decoration: underline;
  }
  
  button{
  background-color: var(--linktela);
  width: 15vw;
  height: 5vh;
  border: var(--fundtela);
  border-radius: 0,9em;
  }